# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/

# VS Code settings
.vscode/

# Database
db.sqlite3

# Collected static files
staticfiles/

# Movie data
movies.json